*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1.5px;
}

body {
    background-color: #fff;
    font-family: 'Muli', sans-serif;
    letter-spacing: 0.09em;
    font-size: 62,5%;
    color: #141823;
}
.nav-container, .container,
.main-container, .footer-container {
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}



p {
    font-size: 1.2em;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'merriweather', serif;
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
    letter-spacing: .03em;
}

a {
    text-decoration: none;
    color: darkslategrey;
}
a:hover {
    text-decoration: none;
    color: darkslateblue;
}

nav a {
    text-decoration: none;
    color: #141823;
    padding: 10px;
}
nav ul {
    font-size: 1em;
}
header,nav,a,img,li,ul {
    transition: .7s all;
    -moz-transition: .7s all;
    -webkit-transition: .7s all;
    -o-transition: .7s all;
}

small {
    color: darkslategrey;
}
section.hero {
    width: 100%;
}

span.read_more small{
    display: inline-block;
    color: #fff;
    background-color: #141823;
    font-size: 0.7em;
    cursor: pointer;
    border: 1px solid #141823;
    border-radius: 2px;
    margin: 5px 0px;
    padding: 2px 3px 2px 3px;
    -webkit-transition: all 300ms ease;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
}

span.read_more small:hover {
    color: #141823;
    background-color: #fff;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.section-header::before {
    content: "";
    display: block;
    padding-top: 10px;
    border-bottom: 2px solid #141823;
    width: 100%;
    padding: 5px;
}

.section-header {
    position: relative;
}

.section-header>h2 {
    display: block;
    top: 20px;
    margin-top:10px;
}

.section-header>p{
    position: absolute;
    top: 25px;
    right: 10px;
    display: block;
    cursor: pointer;
    text-align: right;
    border-bottom: 1px solid #141823;
}

.aside {
    padding: 0px 10px 10px 10px;
}
.aside::before {
    content: "";
    display: block;
    padding-top: 10px;
    border-bottom: 2px solid #141823;
    width: 100%;
}



.blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.blog>article {
    border-top: 1px solid #141823;
    padding-top: 10px;
    min-width: 250px;
}
.blog img {
    max-width: 100%;
}

.articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.article-container {
    margin: 10px;
    border: 1px solid #141823;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.article {
    content: "";
    display: block;
    padding-top: 10px;
    border-top: 2px solid #141823;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
}

.article__text img {
    float: right;
    height: 150px;
}

/********************* gallery style *********************/

.gallery::before {
    content: " ";
    display: block;
    border-bottom: 2px solid #141823;
    margin-bottom: 20px;
}

.photos {
    margin: 10px;
    position: relative;
    margin-bottom: 30px;
}

.photos>h2 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.more-photos {
    display: block;
    position: absolute;
    right: 10px;
    margin-top: -50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #141823;
}


.photos-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.photos-flex img {
    displaY: block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding: 5px;
}

figure {
    position: relative;
    display: inline-block;
    border: 1px solid #141823;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.showing {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

figure:hover figcaption {
    left: 0%;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}

figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

figcaption {
    position: absolute;
    bottom: 10px;
    left: -150%;
    background: #141823;
    color: #fff;
    padding: 10px 10px;
    font-size: .8em;
}

@media screen and (min-width: 700px) {
    figure {
        max-width: 32%;
    }
}

@media screen and (max-width: 700px) {
    figure {
        max-width: 48%;
    }
}


/********************* aside *******************/



aside h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

aside p {
    display: inline-block;
    margin-left: 10px;

}

aside>div {
    border-bottom: 4px double #141823;
}

.aside__follow__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack:  distribute;
    justify-content:  space-around;
    margin: 10px;
}

.aside__follow__icons img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height: 60px;
    text-align: center;
    -webkit-transform: all 0.3ms ease-in;
    transform: all 0.3ms ease-in;
}

.aside__follow__icons img:hover {
    background-color: #e5e5e5;
    border-radius: 3px;
}

.newsletter input {
    display: block;
    margin: 10px auto;
    height: 30px;
    text-align: center;
    border-radius: 3px;
}

.newsletter__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.newsletter__subscribe__submit {
    font-size: 1em;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #141823;
    padding: 7px 15px;
    border-radius: 2px;
    margin: 8px auto 15px auto;
    text-transform: uppercase;
}

.newsletter__subscribe p {

}



/**************** footer *******************/

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.footer-container section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px 20px;
}

.footer-container section:nth-child(3) p{
    font-size: 1em;
    padding: 5px;
    border-top: 1px solid #141823;
    line-height: 1.4em;
}

.footer-container section:nth-child(3) img{
    height: 20px;
    float: left;
}

.copyright {
    width: 90%;
    margin: 0 auto 20px auto;
}

.copyright P {
    font-size: .9em;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #141823;
}
